<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="APITest">
    <test name="FormTest" parallel="false">
        <classes>
            <class name="org.akavity.SpTest">
                <methods>
                    <include name="getArtist"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
